.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #28a745;
    background-color: #e3ddd9;
h2{
 
 font-size: 2em;
   width: 80%; 
    }
    p{
        font-size: 2em;
        color: black;
       

    }
}